*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  background-color: white;
}



.titre-acc{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
    font-family: erbaum, sans-serif;
    font-weight: 500;
      font-style: normal;
      font-size: 50px;
      color: #e94a34;
}

  .col-index{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }

  .carre1{
    width: 220px;
    height: 220px;
    background-color: #fec800;
    border-radius: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
  }

  
  .carre2{
    width: 220px;
    height: 220px;
    background-color: #00a5a5;
    border-radius: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
  }


  .img-carre{
    margin-top: 10%;
    width: 40%;
  }

  .titre-car{
    font-family: erbaum, sans-serif;
    font-weight: 500;
      font-style: normal;
      font-size: 20px;
  }
  



  .form-ajout {
    margin: auto;
    margin-top: 3%;
    width: 50%;
    border-radius: 5px;
    background-color: #00a5a5;
    padding: 20px;
  }


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

.bouton-form {
  background-color: #fec800;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.bouton-form:hover {
  background-color: #e94a34;
 
}



.titre-form{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
    font-family: erbaum, sans-serif;
    font-weight: 500;
      font-style: normal;
      font-size: 30px;
      color: black;
}

  
input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    }
  
    input[type=tel], select, textarea {
      width: 100%; 
      padding: 12px; 
      border: 1px solid #ccc; 
      border-radius: 4px; 
      box-sizing: border-box; 
      margin-top: 6px; 
      margin-bottom: 16px; 
      resize: vertical;
      }